* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
    align-items: center;
    justify-content: center;
    display: flex;
}

.mt-20 {
    margin-top: 20px;
}

.mt-80 {
    margin-top: 80px;
}

.form {
    background-color: #fff;
    padding: 60px;
    margin: 100px;
    border-radius: 27px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .3);
}

.user-info {
    color: #4700D8;
    padding: 0 0px 20px 40px;
    font-weight: 700;
    font-size: 35px;
}

.user-name {
    width: 350px;
    height: 40px;
    padding-left: 20px;
    border: 1px solid #541690;
    border-radius: 10px;
    margin-top: 20px;
}

label {
    padding-left: 10px;
    color: #4700D8;
    font-weight: bolder
}

.birth-info {
    padding: 0 40px 20px 40px;
}

.date-birth {
    width: 350px;
    height: 40px;
    margin-bottom: 40px;
    padding-left: 20px;
    border: 1px solid #541690;
    border-radius: 10px;
    margin-top: 20px;
}

.submit {
    width: 360px;
    height: 55px;
    border: 0;
    background-color: #4700D8;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-weight: bolder;
}

.information {
    color: #fff;
    background: #4700D8;
    padding: 40px;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .3);
}

span {
    font-size: 30px;
    font-weight: 500;
}